/* Universal Styles */

html {
  font-size: 18px;
}

@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}

input:focus {
  outline: none;
}

/* Reusable Component - Image Container */

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: #000;
}

.image-container img {
  width: 100%;
}

/* App Styles */

.App {
  font-family: 'Work Sans', sans-serif;
}

.logo{
  height: 5%;
  width: auto;
  background: #c50302;
  position: absolute;
  left: 1%;
  top: 0.5%;
}

@media screen and (min-width: 300px)and (max-width: 700px){
.logo{
  height: 4%;
  width: auto;
}
}

h1 {
  padding: .66rem 0;
  text-align: center;
  background-color: #c50302;
  font-family: Poppins, sans-serif;
  font-size: 1.8rem;
  color: #ffaa1d;
}
.the {
  color: #ff0000;
  text-decoration: underline;
  text-decoration-color: #ffaa1d;
}
#footer-container {
  position:fixed;
  padding-left: 40%;
  padding-right: 40%;
  left:0px;
  bottom:0px;
  height:40px;
  width:100%;
  background:#c50302;
  color: #ffaa1d;
}

.footer{
  padding: 10px;
}
.footer a {
  text-decoration: none;
}